{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="sent-view">
    <div class="container">
        <h5>Sent</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><strong>Subject</strong></th>
                    <th scope="col"><strong>To</strong></th>
                    <th scope="col"><strong>Date</strong></th>
                </tr>
            </thead>
            <tbody id="sent-list">
            </tbody>
        </table>
    </div>
</div>
<div id="archive-view">
    <h5>Archive</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><strong>Subject</strong></th>
                <th scope="col"><strong>From</strong></th>
                <th scope="col"><strong>Date</strong></th>
            </tr>
        </thead>
        <tbody id="archive-list">
        </tbody>
    </table>
</div>
<div id="inbox-view">
    <h3>Inbox</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><strong>Subject</strong></th>
                <th scope="col"><strong>From</strong></th>
                <th scope="col"><strong>Date</strong></th>
            <tr>
        </thead>
        <tbody id="inbox-list">
        </tbody>
    </table>
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">
        <div class="form-group">
            From: <input disabled class="form-control" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control">
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject">
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        <input type="submit" id="button" class="btn btn-primary" />
    </form>
</div>
<div id="email-detail">
    <div class="container">
        <p id="sender"> Sender:</p>
        <div id="recipient">To:</div>
        <div id="time"></div>
        <p><strong id="subject">Subject:</strong></p>
        <p id="body"></p>
        <button id="archiving-button" class="btn btn-outline-primary">Archive</button>
        <button id="unarchive-button" class="btn btn-outline-primary">Unarchive</button>
        <button id="reply-button" class="btn btn-outline-primary">Reply</button>
    </div>  
</div>
<div id ="reply-view">
    <div class ="container">
        <h4>Reply</h4>
        <form id = "reply-form">
            <div class = "form-group">
                Recipient<input id ="reply-recipient" class="form-control">
            </div>
            <div class ="form-group">
                Subject<input id = "reply-subject" class="form-control">
            </div>
            <div class = "form-group">
                <textarea id = "reply-text" class="form-control"></textarea>
            </div>
            <button id="send-button" class="btn btn-outline-primary">Send</button>
        </form>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}